* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
}

.row {
  margin: 0 -5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
}

h1 {
  color: #fa295a;
  font-size: 5rem;
  font-family: "Faster One", cursive;
  box-align: center;
  margin-top: 10%;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: #fa295a;
}

h3 {
  font-family: "Open Sans", sans-serif;
  color: white;
}

p {
  font-size: 2rem;
  text-align: left;
  color: white;
  margin-right: 8rem;
}

div .card {
  background-color: #01b7e5;
  border-radius: 20px;
}

ul {
  margin: 15px;
}

.sidenav {
  font-family: "Open Sans", sans-serif;
  /* height: 100%; */
}
.nav-stacked {
  padding-left: 30px;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.no-outline:focus {
  outline: none;
}

#temperature {
  background-color: #ffffff;
  border-color: #02d215;
  border-radius: 3rem;
  margin: 1rem;
  font-size: 2.25rem;
  color: #02d215;
  width: 100%;
  text-indent: 2rem;
  margin-top: 27%;
}

#hot-tub {
  background-color: #ffffff;
  border-color: #01b7e5;
  border-radius: 3rem;
  margin: 1rem;
  font-size: 2.25rem;
  color: #01b7e5;
  width: 100%;
  text-indent: 2rem;
}

#kite {
  background-color: #ffffff;
  border-color: #fb043e;
  border-radius: 3rem;
  margin: 1rem;
  font-size: 2.25rem;
  color: #fb043e;
  width: 100%;
  text-indent: 2rem;
}

#sunglasses {
  background-color: #ffffff;
  border-color: #f8ba01;
  border-radius: 3rem;
  margin: 1rem;
  font-size: 2.25rem;
  color: #f8ba01;
  width: 100%;
  text-indent: 2rem;
}

#values {
  background-color: #ffffff;
  border-color: #fa295a;
  border-radius: 3rem;
  margin: 1rem;
  color: #fa295a;
  padding: 2rem;
  height: 90%;
  font-size: 3rem;
}

button.btn.btn-outline {
  border-radius: 3rem;
  margin-left: 1rem;
  border-color: #ffffff;
  padding: 2rem;
  height: 100%;
  font-size: 2.5rem;
}

.fa-temperature-high {
  color: #02d215;
}

.fa-hot-tub {
  color: #01b7e5;
}

.fa-kite {
  color: #fb043e;
}

.fa-sunglasses {
  color: #fcbe03;
}

.fa-search {
  color: #fa295a;
}

#beach {
  width: 60%;
  /* margin-block-start: "text-align: right"; */
  float: right;
  padding-bottom: 10%;
  padding-top: 10%;
  padding-right: 15%;
}

#container-fluid {
  text-align: center;
  background: url("/assets/gradient.jpg");
  background-size: cover;
  background-position: center;
  width: 110%;
  height: 50%;
  margin: -15px;
}

#ocean-2 {
  text-align: top;
  background: ("/assets/ocean-2.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 120%;
  margin: 0px;
  padding: 0px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  background-color: #f1f1f1;
}

p {
  font-size: 1.35rem;
  display: inline-block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding: 0.5em;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .column {
    width: 60%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    margin: 25px;
  }
  .row-content {
    padding-right: 25px;
    align-items: baseline;
  }
}
