body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  /* image-rendering: auto;
  background-size: auto; */
  /* line-height: 1; */
}

h1 {
  color: #fa295a;
  font-size: 5rem;
  font-family: "Faster One", cursive;
  box-align: center;
  margin-top: 10%;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: #fa295a;
}

h3 {
  font-family: "Open Sans", sans-serif;
  color: white;
}

p {
  font-size: 2rem;
  text-align: left;
  color: white;
  /* line-height: 2.5rem; */
  /* box-align: left; */
  margin-right: 8rem;
}

div .card {
  background-color: #01b7e5;
  border-radius: 20px;
}

/* #card-1 {
  background-color: #d20241;
}

#card-2 {
  background-color: #01b7e5;
}

#card-3 {
  background-color: #02d215;
}

#card-4 {
  background-color: #02d215;
}

#card-5 {
  background-color: #02d215;
} */

ul {
  margin: 25px;
}

.sidenav {
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.no-outline:focus {
  outline: none;
}

#temperature {
  background-color: #ffffff;
  border-color: #02d215;
  border-radius: 3rem;
  margin: 1rem;
  font-size: 2.25rem;
  color: #02d215;
  width: 90%;
  text-indent: 2rem;
  margin-top: 27%;
}

#hot-tub {
  background-color: #ffffff;
  border-color: #01b7e5;
  border-radius: 3rem;
  margin: 1rem;
  font-size: 2.25rem;
  color: #01b7e5;
  width: 90%;
  text-indent: 2rem;
}

#kite {
  background-color: #ffffff;
  border-color: #fb043e;
  border-radius: 3rem;
  margin: 1rem;
  font-size: 2.25rem;
  color: #fb043e;
  width: 90%;
  text-indent: 2rem;
}

#sunglasses {
  background-color: #ffffff;
  border-color: #f8ba01;
  border-radius: 3rem;
  margin: 1rem;
  font-size: 2.25rem;
  color: #f8ba01;
  width: 90%;
  text-indent: 2rem;
}

#values {
  background-color: #ffffff;
  border-color: #fa295a;
  border-radius: 3rem;
  margin: 1rem;
  color: #fa295a;
  padding: 2rem;
  height: 90%;
  font-size: 3rem;
}

button.btn.btn-outline {
  border-radius: 3rem;
  margin-left: 1.5rem;
  border-color: #ffffff;
  padding: 2rem;
  height: 100%;
  font-size: 2.5rem;
}

.fa-temperature-high {
  color: #02d215;
}

.fa-hot-tub {
  color: #01b7e5;
}

.fa-kite {
  color: #fb043e;
}

.fa-sunglasses {
  color: #fcbe03;
}

.fa-search {
  color: #fa295a;
}

footer {
  background-color: #ffffff;
  color: black;
}

#beach {
  width: 50%;
  /* margin-block-start: "text-align: right"; */
  float: right;
  padding-bottom: 0%;
  padding-top: 10%;
  padding-right: 5%;
}

#container-fluid {
  text-align: center;
  background: url("/assets/gradient.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  margin: -15px;
  padding: 0px;
}

#ocean-2 {
  text-align: top;
  background: ("/assets/ocean-2.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 120%;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    margin: 25px;
  }
  .row-content {
    padding-right: 25px;
    align-items: baseline;
  }
}
